.payment {
  background-color: white;
}
.payment__container > h2 {
  font-weight: 400;
  background-color: rgb(234, 237, 237);
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}
.payment__container > h2 a {
  text-decoration: none;
  color: black;
}

.payment__section {
  display: flex;
  padding: 28px;
  margin: 0px 28px;
  border-bottom: 1px solid lightgray;
}
.payment__title {
  flex: 0.2;
}
.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}
.payment__details > form {
  max-width: 400px;
}
.payment__details > h4 {
  margin-bottom: 20px;
}
.payment__details > form > div > button {
  background-color: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
  padding: 0px 4px;
  width: 100%;
}
